{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <head class="center">
    <style>
    h1 {text-align: center;}
    p {text-align: left;
        text-indent: 30px;}
    div {text-align: center;}
    </style>

    </head>
    <div class="col-md-8 offset-md-2">
    <h1>STATES 2</h1>
    <a>
            Released December 25 2021.  No paid release yet.
    <div class="p-3"></div>
    <body class="center pt-lg-0">
    <iframe src="https://open.spotify.com/embed/album/5jmL56wPrALtccZw6qccrS?utm_source=generator" width="100%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    </body>
    <div class="p-3"></div>
    <h1>STATES</h1>
        <a>
            A beat tape released July 7 2020.  All <a href="https://sanjaynara.bandcamp.com/album/states">bandcamp</a> proceeds benefit two organizations: <a href="https://blackvotersmatterfund.org/">the Black Voters Matter Fund</a> and the <a href="https://www.againstmalaria.com/">Against Malaria Foundation</a>.  To this day, we have raised <a href="https://docs.google.com/spreadsheets/d/15TL6MO53qb2g1XrpLiGLtGcNtYVGJu7OoVZAatWQWc8/edit">$956</a> for both causes.
        </p>


        <div class="p-3"></div>
    <body class="center pt-lg-0">
    <iframe src="https://open.spotify.com/embed/album/5fPE35JQeX6lRPF2OdRDes" width="100%" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    </body>
    <div class="p-5"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
{% endblock %}
