{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <head class="center">
    <style>
    h1 {text-align: center;}
    p {text-align: left;
        text-indent: 30px;}
    div {text-align: center;}
    </style>

    </head>
    <div class="col-md-8 offset-md-2">
    <h1>STATES EP</h1>
        <p>
            STATES EP, a beat tape, dropped July 7 2020.  All <a href="https://sanjaynara.bandcamp.com/album/states">bandcamp</a> proceeds benefit two organizations: <a href="https://blackvotersmatterfund.org/">the Black Voters Matter Fund</a> and the <a href="https://www.againstmalaria.com/">Against Malaria Foundation</a>.  To this day, we have raised $956 for both the causes (<a href="https://sanjaynara.bandcamp.com/album/states">breakdown here</a>).
        </p>



    </h5>
        <div class="p-3"></div>
    <body class="center pt-lg-0">
    <iframe src="https://open.spotify.com/embed/album/5fPE35JQeX6lRPF2OdRDes" width="100%" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

    </body>
    <div class="p-5"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
{% endblock %}
